.right{
    text-align: right;
    width: 50%;
     margin-top: 30px;
}
.container{
    display: flex;
    height: 100vh;
    gap: 20px;
    justify-content: flex-start;
    
}
.left{
    text-align: left;
    width:50%;
    margin-top: 30px;
}
b{
    font-size: medium;
}
h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
}
i{
    font-size: x-small;
}
pre{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: small;
    font-weight: 549;
}
p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: small;
    font-weight: 549;

}

.card{
    background: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(16, 12, 12, 0.642);
    height: 40%;
    width:55rem;
    margin:0 auto;
    background-repeat: no-repeat;
    background-image:url('https://devoted-chocolate-bsj6o3pg52.edgeone.app/Cream-Maroon-Luxury-Menu-Background-Template-edit-online.png');
    color:#e39b2e;
     background-size:  58rem;
    background-position: top center;
}
   

h1{
   text-align: center;
    margin-bottom: 2s0px;
    font-size: 32px;
    font-weight: bold;
    padding-bottom: 20px;
   
   
    margin: 20px auto;
    width: 100%;
    letter-spacing: 2px;

}
.sub-title{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-top:-10px;
    margin-bottom:20px;
    letter-spacing: 2px;
    text-decoration:underline;
     
}
.container1{
    display: flex;
    height: 100vh;
    gap: 20px;
    justify-content:  flex-start;
    margin-top:-25px;

}
.card1{
     background: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(16, 12, 12, 0.642);
    height: 100%;
    text-align: center;
   
}
img{
    width: 35vw;
    height: 33vh;
    text-align:left;
    margin-top: 10px;
    border-radius: 50%;
}
.container1::before{
    content: "";
    position: absolute;
    left: 50%;
    height: 50%;
   border-left: 1px;
    margin-top:30px;
}
h2{
    text-decoration: underline;
}
.container2{
     display: flex;
    height: 100vh;
    gap: 20px;
    justify-content:  flex-start;
}
.b1{
    text-decoration: underline;
}
.right1{
    margin-top: 30px;
}
.card2{
    background: #fff;
    padding: 6px;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(16, 12, 12, 0.642);
    height:150vh;
    text-align: center;
    margin:0 auto;
    width : 48rem;
    background-repeat: no-repeat;
    background-image:url('https://devoted-chocolate-bsj6o3pg52.edgeone.app/Cream-Maroon-Luxury-Menu-Background-Template-edit-online.png');
    background-position: top center;
    background-size: 62% 99%;
   
}
.card-dinner{
    background-size:  53rem;
    background-position: top center;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(34, 33, 33, 0.642);
    height: 30%;
    text-align: center;
    margin:0 auto;
    width : 50rem;
    background-repeat: no-repeat;
    background-image:url('https://devoted-chocolate-bsj6o3pg52.edgeone.app/Cream-Maroon-Luxury-Menu-Background-Template-edit-online.png');
    color:#e39b2e
}



.b2{
    font-family:'Times New Roman', Times, serif ;
    color:white;
}
body{
    background-image: url('https://accessible-silver-xqc4v5uaxz.edgeone.app/defocused-background-elegant-dining-room-600nw-2669719331.jpg');
     background-size: cover;

}
.b3{
    color:#e39b2e
}
